
.*
!.gitattributes

engine/src/middleware/audio/third_party
!engine/src/middleware/video/third_party/minimp4.h

engine/src/middleware/video/third_party/libhevc/*
!engine/src/middleware/video/third_party/libhevc/jce_build
engine/src/middleware/video/third_party/openh264/*
!engine/src/middleware/video/third_party/openh264/jce_build


_*

build/
out/


caged_kingdom/resources/assets/
engine/resources/assets/shaders/
editor/resources/assets/fonts/
!editor/resources/assets/i18n/
!editor/resources/assets/i18n/**


raw_assets/


scripts/ZKM-VMP/

sonar-project.properties
CMakeUserPresets.json

bak/
TODO/

agents.*
tests/


# Android APK build
scripts/android/app/src/main/jniLibs/
scripts/android/app/src/main/assets/

scripts/android/app/src/main/res/*
!scripts/android/app/src/main/res/drawable-nodpi/
!scripts/android/app/src/main/res/values/
