
.*
!.gitattributes

engine/src/middleware/audio/third_party
engine/src/middleware/video/third_party/libhevc
engine/src/middleware/video/third_party/openh264
!engine/src/middleware/video/third_party/minimp4.h

_*

build/
out/


caged_kingdom/resources/assets/
engine/resources/assets/
editor/resources/assets/fonts/
!editor/resources/assets/i18n/
!editor/resources/assets/i18n/**


raw_assets/


scripts/ZKM-VMP/

sonar-project.properties
CMakeUserPresets.json

bak/
TODO/

docs/

# Android APK build
scripts/android/app/src/main/jniLibs/
scripts/android/app/src/main/assets/

scripts/android/app/src/main/res/*
!scripts/android/app/src/main/res/drawable-nodpi/
!scripts/android/app/src/main/res/values/
